*,
::after,
::before {
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-image: initial;
    box-sizing: inherit;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
    line-height: 1.5;
    box-sizing: border-box;
    background: #add8e6;
    text-size-adjust: 100%;
}
main{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: rgb(6, 40, 99);
}
a {
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    margin-bottom: 3rem;
    display: block;
    border-style: solid;
    color: inherit;
    /* display: block; */
    /* border-style: solid; */
}
.wrapper {
    width: 91.6667%;
    padding-bottom: 2.5rem;
    padding: 2rem;
    max-width: 28rem;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    background-color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-image: initial;
}
header {
    margin-bottom: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 1.25em;
    color: rgb(8, 62, 158);
    text-align: center;
    font-weight: 700;
    font-family: U8,sans-serif;
    margin: 0px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    font-size: 0.875rem;
    color: rgb(74, 85, 104);
    text-align: center;
    font-family: Karla,
    sans-serif;
    margin: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
form {
    overflow-y: auto;
    min-height: min-content;
    margin-top: 2rem;
    margin-bottom: 0px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}
.input-container {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
label {
    font-size: 0.75rem;
    color: rgb(74, 85, 104);
    margin-bottom: 0.25rem;
    line-height: 2;
    font-weight: 700;
    font-family: U8,
    sans-serif;
    cursor: default;
}
input {
    color: rgb(26, 32, 44);
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    outline: 0px;
    border-radius: 0.25rem;
    background-color: rgb(237, 242, 247);
    line-height: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0px;
    /* text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none; */
}
.input-container-item {
    position: relative;
    box-sizing: border-box;
    width: 98.6%;
    margin: auto;
    color: rgb(26,32,44);
    outline: 0px;
    border-radius: 0.5em;
    background-color: rgb(237,242,247);

}
.select-outer-wrapper{
    color: red;
    padding: 0.5rem;
    background: rgb(237, 242, 247);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0.5rem;
    align-items: center;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 38px;
    position: relative;
    box-sizing: border-box;
    transition: all 100ms ease 0s;
    outline: 0px !important;
}
.select-inner-wrapper {
    padding: 0px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    flex:1 1 0%;
    overflow: hidden;
    color: red;
    cursor: default;
}
.select-inner-wrapper:nth-child(1) {
    color: rgb(26, 32, 44);
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    overflow: hidden;
    cursor: default;
}
.select-inner-wrapper:nth-child(2) {
    padding-bottom: 2px;
    padding-top: 2px;
    visibility: visible;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
    margin: 2px;
    cursor: default;
}
.select-inner-wrapper:nth-child(2) div {
    color: rgb(26, 32, 44);
    visibility: visible;
    cursor: default;
}
.select-indicator {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    color: red;
    cursor: default;
}
.select-indicator-separator {
    align-self: stretch;
    background-color: rgb(204, 204, 204);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
}
.select-dropdown-indicator {
    padding: 8px;
}
.indicator-container {
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    transition: color 150ms ease 0s;
}
.indicator {
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0;
    color: rgb(204, 204, 204);
}
svg {
    vertical-align: middle
}
.button-container {
    display: flex;
    align-items: flex-end;
    flex: 1 1 0%;
}
.btn {
    background-color: rgb(8, 62, 158);
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    margin-top: 0px;
    font-weight: 700;
    font-family: U8,
    sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-bottom-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    line-height: inherit;
    cursor: pointer;
    /* background: 0px 0px; */
    overflow: visible;
    box-sizing: inherit;
}
.login {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 0.75rem;
    text-align: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 2rem;
    font-weight: 400;
    font-family: Karla,
    sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: transparent;
    text-decoration: inherit;
}