*,
:after,
:before {
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-image: initial;
    box-sizing: inherit;
    border: 0 solid #e2e8f0;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
    line-height: 1.5;
    box-sizing: border-box;
    background-color: rgb(6, 40, 99);

}
body {
    margin: 0;
}
main{
    overflow-y: hidden;
    height: 100vh;
}
/* common classes */

.flex{
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.relative {
    position: relative;
}
.block {
    display: block;
}

.center {
    align-items: center;
}
.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 100vh;
    background-color: rgb(6, 40, 99);
    background-image: url("./img/1.png"),
    url("./img/2.png"),
    url("./img/3.png"),
    url("./img/4.png");
    background-size: 15%,15%,15%,15%;
    background-position: left -1% top -15%,
    right -7.5% top -1%,
    left -5% bottom -10%,
    right -5% bottom -5%;
    background-repeat: no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
}
.over-flow {
    overflow: auto;
    overflow-anchor: hidden;
}
a {
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    margin-bottom: 2rem;
    display: block;
    border-style: solid;
    color: inherit;
    /* display: block; */
    /* border-style: solid; */
}
.wrapper {
    width: 91.6667%;
    padding-bottom: 2.5rem;
    padding: 2rem;
    max-width: 28rem;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    background-color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-image: initial;
}
header {
    margin-bottom: 1.5rem;
}
h1{
    font-size: 1.25em;
    color: rgb(8, 62, 158);
    text-align: center;
    font-weight: 700;
    font-family: U8,sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    font-size: 0.875rem;
    color: rgb(74, 85, 104);
    text-align: center;
    font-family: Karla,sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1, p, img {
    margin: 0;
}
form {
    overflow-y: auto;
    min-height: min-content;
    margin-top: 2rem;
    margin-bottom: 0px;
    flex: 1 1 0%;
}
.input-container {
    position: relative;
    margin-bottom: 2rem;
}
label {
    font-size: 0.75rem;
    color: rgb(74, 85, 104);
    margin-bottom: 0.25rem;
    line-height: 2;
    font-weight: 700;
    font-family: U8,sans-serif;
    cursor: default;
}
input {
    color: rgb(26, 32, 44);
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    outline: 0px;
    border-radius: 0.25rem;
    background-color: rgb(237, 242, 247);
    line-height: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0px;
}
.input-container-item {
    position: relative;
    box-sizing: border-box;
    width: 98.6%;
    margin: auto;
    color: rgb(26,32,44);
    outline: 0px;
    border-radius: 0.5em;
    background-color: rgb(237,242,247);

}
.select-outer-wrapper{
    color: red;
    padding: 0.5rem;
    background: rgb(237, 242, 247);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0.5rem;
    align-items: center;
    cursor: default;
    justify-content: space-around;
    min-height: 38px;
    position: relative;
    box-sizing: border-box;
    transition: all 100ms ease 0s;
    outline: 0px !important;
}


.button-container {
    align-items: flex-end;
    flex: 1 1 0%;
}
.btn {
    background-color: rgb(8, 62, 158);
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    margin-top: 0px;
    font-weight: 700;
    font-family: U8,sans-serif;
    justify-content: center;
    border-bottom-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    line-height: inherit;
    cursor: pointer;
    overflow: visible;
    box-sizing: inherit;
}
.login {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 0.75rem;
    text-align: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 2rem;
    font-weight: 400;
    font-family: Karla,sans-serif;
    justify-content: center;
    border-bottom-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: transparent;
    text-decoration: inherit;
}